<html>

<head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="../index.html">Inside a Computer</a>
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../components.html">Components</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../history.html">History</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../quiz.html">Try the Quiz</a>
                        </li>
                </ul>
        </nav>
        <h1>Graphics Card</h1>

        <p>A video card (also called a display card, graphics card, display adapter or graphics adapter) is an expansion card which generates a feed of output images to a display (such as a computer monitor). Frequently, these are advertised as discrete or dedicated graphics cards, emphasizing the distinction between these and integrated graphics. At the core of both is the graphics processing unit (GPU), which is the main part that does the actual computations, but should not be confused as the video card as a whole, although "GPU" is often used to refer to video cards.
Most video cards are not limited to simple display output. Their integrated graphics processor can perform additional processing, removing this task from the central processor of the computer. For example, Nvidia and AMD (ATi) produced cards render the graphics pipeline OpenGL and DirectX on the hardware level. In the later 2010s, there has also been a tendency to use the computing capabilities of the graphics processor to solve non-graphic tasks.
</p>


        <footer class="container">
                <p>Site created by <strong>Aaron Bowdler</strong> for The Campion School CP Lessons</p>
        </footer>


</body>

<style>
        body {
                padding-top: 70px;
        }
</style>


</html>