<html>

<head>

        <link rel="stylesheet" href="../css/bootstrap-4.1.3-dist/css/bootstrap.min.css">


</head>

<body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="../index.html">Inside a Computer</a>
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../components.html">Components</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../history.html">History</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../quiz.html">Try the Quiz</a>
                        </li>
                </ul>
        </nav>
        <h1>Hard Drive</h1>

        <p>A hard disk drive (HDD), hard disk, hard drive, or fixed disk,
                 is an electromechanical data storage device that uses magnetic storage to store and retrieve digital information using one or more rigid rapidly rotating disks (platters) coated with magnetic material. 
                The platters are paired with magnetic heads, usually arranged on a moving actuator arm, which read and write data to the platter surfaces. Data is accessed in a random-access manner, meaning that individual blocks of data can be stored or retrieved in any order and not only sequentially.
                 HDDs are a type of non-volatile storage, retaining stored data even when powered off.
Introduced by IBM in 1956, HDDs became the dominant secondary storage device for general-purpose computers by the early 1960s. 
Continuously improved, HDDs have maintained this position into the modern era of servers and personal computers.
 More than 200 companies have produced HDDs historically, though after extensive industry consolidation most units are manufactured by Seagate, 
 Toshiba, and Western Digital. HDDs dominate the volume of storage produced (exabytes per year) for servers. Though production is growing slowly,
  sales revenues and unit shipments are declining because solid-state drives (SSDs) have higher data-transfer rates, higher areal storage density,
   better reliability, and much lower latency and access times. when choosing secondary storage, there are factors affecting the choice of a secondary storage device which include:
    speed (how quickly data can be accessed), cost per storage unit (i.e. price per gigabyte or megabyte), durability (toughness), portability (how easy it is to move it from one computer to another).
    however many people are switching to SSD's in storage this is because like a memory stick,
     there are no moving parts to an SSD. Rather, information is stored in microchips. Conversely,
      a hard disk drive uses a mechanical arm with a read/write head to move around and read information from the right location on a storage platter.
       This difference is what makes SSD so much faster.
</p>


        <footer class="container">
                <p>Site created by <strong>Aaron Bowdler</strong> for The Campion School CP Lessons</p>
        </footer>


</body>

<style>
        body {
                padding-top: 70px;
        }
</style>


</html>