<html>

<head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="../index.html">Inside a Computer</a>
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../components.html">Components</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../history.html">History</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="../quiz.html">Try the Quiz</a>
                        </li>
                </ul>
        </nav>
        <h1>Motherboard</h1>

        <p><font size="6">A motherboard is one of the most essential parts of a computer system. It holds together many of the crucial components of a computer,
		including the central processing unit (CPU), memory and connectors for input and output devices.
		The base of a motherboard consists of a very firm sheet of non-conductive material,
		typically some sort of rigid plastic. Thin layers of copper or aluminum foil, referred to as traces, are printed onto this sheet.
		These traces are very narrow and form the circuits between the various components.
		In addition to circuits, a motherboard contains a number of sockets and slots to connect the other components.</p>


        <footer class="container">
                <p>Site created by <strong>Aaron Bowdler</strong> for The Campion School CP Lessons</p>
        </footer>


</body>

<style>
        body {
                padding-top: 70px;
        }
</style>


</html>